#mheader
{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;

  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.95);
}

#ventana
{
  -webkit-app-region: drag;
  background-color: #1a1a1a;
  min-height: 30px;
  width: 100%;
  margin: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 40px;
}

#vetana-iconos
{
  -webkit-app-region: no-drag;
  float: right;
}

.titulo
{
  color: ghostwhite;
  font-size: 20px;
}

.iconito
{
  padding: 0.5rem 0.5rem !important;
  color: white;
}

a:hover
{
  color: orange;
}

#main-logo
{
  float: left;
  margin-top: 10px;
}
#main-menu
{
  float: right;
  margin-top: 30px;
}

#main-menu a
{
  color: #555;
}

#main-menu a:hover
{
  color: orange;
}

#main-menu.nav-pills>li>a,
{
  background: none;
  color: black;
}

#main-menu.nav-pills>li>a:focus,
#main-menu.nav-pills>li>a:hover
{

  color: orange;
}

#main-menu.nav .open>a,
#main-menu.nav .open>a:focus,
#main-menu.nav .open>a:hover
{
  background: none;
}

#contenido
{
  margin-top: 40px;
  /*overflow-y: scroll;*/
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 100vh;
  /*transform: translate3d(0,0,0);*/
}

#main-footer
{
  height: 20px;
  bottom: 0;


  left: 0;
  position: fixed;
  right: 0;

  background-color: #1a1a1a;
}

#main-footer a,footer a:hover
{
  color: black;
}

#main-footer p
{
  text-align: center;
  color: black;
}

.btn.active
{
  background-color: gainsboro;
}
.list-group-item.active
{
  color: black !important;
}

body
{
  overflow-y: hidden;
  overflow-x: hidden;
}

#colder
{
  background-color: #262626;
  height: 100vh;
  overflow-y: scroll;
}

#colizq
{
  background-color: #404040;
  height: 100vh;
}

.list-group-item
{
  background-color: #404040;
}

.list-group-item.active
{
  background-color: darkorange;
  border-color: darkorange;
}

.list-group-item-action:hover
{
  background-color: darkorange;
  color: black !important;
}
.list-group-item-action:focus
{
  background-color: darkorange;
  color: black !important;
}

.cuerpo
{
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 3%;
  margin-bottom: 5%;
}

.cat
{
  font-size: 20px;
  font-weight: bold;
}

/*::-webkit-scrollbar { display: none; }*/
/* Let's get this party started */
::-webkit-scrollbar { width: 5px; }
/* Track */
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4); -webkit-border-radius: 10px; border-radius: 10px; }
/* Handle */
::-webkit-scrollbar-thumb { -webkit-border-radius: 10px; border-radius: 10px; background: orange; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7); }
::-webkit-scrollbar-thumb:window-inactive { background: rgba(0,0,0,0.7); }
