<label class="cat">Equipo</label>
<ul class="list-group list-group-flush">
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Fabricante</label>
        <label id="mainFabricante">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Modelo</label>
        <label id="mainModelo">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Version</label>
        <label id="mainVersion">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Serial</label>
        <label id="mainSerial">Cargando</label>
    </li>
</ul>
<script src="secciones/equipo/equipo.js"></script>
<br>