<label class="cat" onunload="stopSensors()">Sensores</label>
<i class="fas fa-exclamation-circle" data-toggle="popover" title="Advertencia sobre los resultados"
    data-content="Es posible que los resultados no sean correctos. Ejecutar como administrador para obtener los resultados correctos."></i>
<ul class="list-group list-group-flush">
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>CPU Velocidad Promedio</label>
        <label id="cpuAvg">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>CPU Velocidad Mínima</label>
        <label id="cpuMin">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>CPU Velocidad Máxima</label>
        <label id="cpuMax">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>CPU Temperatura Principal</label>
        <label id="cpuTemp">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>CPU Temperatura Máxima</label>
        <label id="cpuTempMax">Cargando</label>
    </li>
</ul>
<script src="secciones/sensores/sensores.js"></script>
<br>