<label class="cat">CPU</label>
<ul class="list-group list-group-flush">
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Fabricante</label>
        <label id="cpuF">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Nombre</label>
        <label id="cpuN">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Revisión</label>
        <label id="cpuR">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Socket</label>
        <label id="cpuSo">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Núcleos</label>
        <label id="cpuC">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Hilos</label>
        <label id="cpuH">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Frecuencia Máxima</label>
        <label id="cpuM">Cargando</label>
    </li>
</ul>
<script src="secciones/cpu/cpu.js"></script>
<br>