<label class="cat">Placa Madre</label>
<ul class="list-group list-group-flush">
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Fabricante</label>
        <label id="motherF">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Modelo</label>
        <label id="motherM">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Versión</label>
        <label id="motherV">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Número de Serie</label>
        <label id="motherS">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>BIOS</label>
        <label id="motherB">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Versión</label>
        <label id="motherBC">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Fecha de la BIOS</label>
        <label id="motherBF">Cargando</label>
    </li>
</ul>
<script src="secciones/mother/mother.js"></script>
<br>