<label class="cat">General</label>
<ul class="list-group list-group-flush">
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Sistema Operativo</label>
        <label id="gso">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Placa Madre</label>
        <label id="gmother">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>CPU</label>
        <label id="gcpu">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Memoria</label>
        <label id="gram">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Almacenamiento</label>
        <label id="ghdds">Cargando</label>
    </li>
</ul>
<script src="secciones/principal/principal.js"></script>
<br>