<label class="cat">Sistema</label>
<ul class="list-group list-group-flush">
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Sistema Operativo</label>
        <label id="oscap">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Arquitectura</label>
        <label id="osarq">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Nombre</label>
        <label id="osfec">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Nombre del Equipo</label>
        <label id="osins">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Serial</label>
        <label id="osdom">Cargando</label>
    </li>
    <li class="list-group-item text-white d-flex justify-content-between align-items-center">
        <label>Build</label>
        <label id="ossta">Cargando</label>
    </li>
</ul>
<script src="secciones/sistema/sistema.js"></script>
<br>